<body>
    <!-- https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/ -->
    <div class="container">    
      <div class="row">
        <div class="col-md-6">  
          <img src="assets/img/uploads/I.jpg" class="rounded-circle" style="width:400px; height:400px;"><br>
          <h3>India McCruter</h3>
          <p><strong>Major:</strong> Political Science  </p>
          <p><strong>Minor:</strong>  Philosophy</p>
          <p><strong>Class Standing:</strong> Sophomore</p>
    
          <img src="assets/img/uploads/J.jpg" class="rounded-circle" style="width:400px; height:400px;"><br>
          <h3>Jamir Wilson</h3>
          <p><strong>Major:</strong> English</p>
          <p><strong>Minor:</strong> Chinese</p>
          <p><strong>Class Standing:</strong> Junior</p><br>  

          <img src="assets/img/uploads/E.jpg" class="rounded-circle" style="width:400px; height:400px;"><br>
          <h3>Edward Veliz</h3>
          <p><strong>Major:</strong> Political Science</p>
          <p><strong>Minor:</strong> Spanish</p>
          <p><strong>Class Standing:</strong> Junior</p>
        
          <img src="assets/img/uploads/HS.jpg" class="rounded-circle" style="width:400px; height:400px;"><br>
          <h3>Hannah Schultz</h3>
          <p><strong>Major:</strong> Computer Science</p>
          <p><strong>Minor:</strong> Political Science</p>
          <p><strong>Class Standing:</strong> Senior</p>
        </div>
      </div>
    </div>
    