<body>
    <!-- https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/ -->
    <div>    
      <div class="row">
        <div class="col-md-6">  
          <img src="assets/img/EMMA_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
          <h3>India McCruter</h3>
          <p><strong>Major:</strong>  </p>
          <p><strong>Minor:</strong>  </p>
          <p><strong>Class Standing:</strong> Sophomore</p>
    
          <img src="assets/img/KW_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
          <h3>Jamir Wilson</h3>
          <p><strong>Major:</strong> English</p>
          <p><strong>Minor:</strong> Chinese</p>
          <p><strong>Class Standing:</strong> Junior</p><br>  
        </div>
    
    
        <div class="col-md-6">
          <img src="assets/img/ARI_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
          <h3>Edward Veliz</h3>
          <p><strong>Major:</strong> Political Science</p>
          <p><strong>Minor:</strong> Spanish</p>
          <p><strong>Class Standing:</strong> Junior</p>

          <h3>Hannah Schultz</h3>
          <img src="assets/img/uploads/HS.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
          <p><strong>Major:</strong> Computer Science</p>
          <p><strong>Minor:</strong> Political Science</p>
          <p><strong>Class Standing:</strong> Senior</p>
    
        </div>
      </div>
    </div>
    